{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>编辑笔记</h2>
{% endblock header %}

{% block content %}
    <!--返回主题页-->
    <h4>
        <p>所属分类：
            <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
        </p>
    </h4>


    <!--告诉服务器将提交的表单数据发送到那里：new_entry-->
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
        <!--    防止攻击者利用表单来获取对服务器未经授权的访问-->
        {%csrf_token%}
        <!--让bootstrap_form创建表单-->
        {% bootstrap_form form%}

         {% buttons %}
        <!--    创建提交按钮-->
         <button name="submit" class="btn btn-primary">提交</button>
        {% endbuttons %}
    </form>

{% endblock content %}